body, head
{
    height: 100%;
}

body
{
	padding: 50px;
	background: #C5DDEB;
}

ol
{
	list-style: none;
    padding: 0;
}

.container-fluid
{
    width: auto;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 30px;
    right: 30px;
    bottom: 50px;
}

.container-fluid > div.row,
.container-fluid > div.row > div.col-12,
.container-fluid > div.row > div.col-12 > div.row,
#peoples_container,
#content
{
    height: 100%;
}

#content
{
    overflow-x: inherit;
    overflow-y: auto;
}

#peoples_container
{
    padding: 20px 0 0 20px;
	background: #6A6C75;
}

#peoples_container h1
{
    color: #fff;
}

#peoples_container img,
#message_container img
{
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
}

#message_container
{
	background: #F2F5F8;
    padding: 0;
}

#content ol
{
    padding-top: 100px;
    padding-bottom: 180px;
}

#content,
#message_container .title
{
    padding: 20px;
}

#content, #peoples_container
{
    overflow-x: hidden;
    overflow-y: auto;
}

#peoples_container .online,
#peoples_container .offline
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

#peoples_container .online
{
    background: #86BB71;
}

#peoples_container .offline
{
    background: #E38968;
}

#peoples_container h1
{
    margin-right: 30px;
    line-height: 50px;
    font-size: 1.3em;
    float: right;
    clear: both;
}

#peoples_container li
{
    margin-bottom: 15px;
}

#message_container .title
{
    position: absolute;
    left: 0;
    right: 0;
    background: #eee;
    border-bottom: 2px solid white;
}

#message_container li
{

}

#message_container h1
{

}

#message_box
{
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F2F5F8;
    border-top: 2px solid white;
}

#message_box textarea
{
    width: 100%;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

#message_box button
{
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

#message_box button:hover
{
    color: #75b1e8;
}

#content p
{
    color: #fff;
    border-radius: 7px;
    border-width: 10px;
    padding: 10px 20px;
    margin: 25px 10px 30px 0;
}

#content li
{
}

#message_container .title h1,
#message_container .title h2,
#content h1
{
    display: inline;
    padding-left: 10px;
}

#message_container img
{
    clear: both;
    float: left;
}

#message_container p
{
    display: block;
}

.other_message p
{
    background: #86BB71;
}

.own_message p
{
    background: #94C2ED;
}
